*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.background__1{
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50rem;
    opacity: 0.8;
    
    
}

.background__1--text{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35rem;
   
}


.background__1 h1{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    /* height:4.5rem; */
    background-color: rgb(29, 26, 26);
    color: white;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
    border-radius: 13px 0px 13px 0px;
    outline: 0.5rem inset purple;
    outline-offset: 0.6rem;
    text-transform: uppercase;
    /* margin-top: 16px; */
    
}

.Full-Stack{
    
    background-color: white;
    /* height:230px; */
    /* width:100%; */
    opacity: 0.7;
    padding: 2.5rem;
   
    
}

.Full-Stack--header{
    margin-top:2rem;
    margin-bottom: 1rem;
    text-align:center;
    line-height:1rem;
}

.Full-Stack--text{
    padding: 10px;
    margin-top:5px;
    margin-bottom: 5px;
    line-height: 1.5rem;
    text-align:center;
    font-size: 0.8rem;
    
}

.background__2{
    background-image: url(bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100%;
    opacity: 0.8;
}

.Aws{
    background-color: black;
    color:white;
    border:2px black solid;
    opacity:0.8;
    padding: 2.5rem;
    
}

.Aws--header{
    /* padding:0.2rem; */
    margin-top:2rem;
    margin-bottom: 1rem;
    text-align:center;
    line-height:1rem;
}

.Aws--text{
    padding: 10px;
    margin-top:5px;
    margin-bottom: 5px;
    line-height: 1.5rem;
    text-align:center;
    font-size: 0.8rem;
    /* background-color: black;
    color:white */
    
}

.background__2--image{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-clarusway{
    width: 600px;
    height: auto;
    opacity: 0.3px;
}

.background__3{
    background-image: url(bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100%;
    opacity: 0.7;
}

.background__3 h1{
    display:inline-block;
    width: 32rem;
    height:3.5rem;
    padding: 0px;
    background-color: #111010;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    /* margin:auto; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
    border-radius: 13px 0px 13px 0px;
    outline: 0.4rem inset purple;
    outline-offset: 0.4rem;
    
}

.background__3--image{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background__3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    
}


.Data{
    
    background-color: white;
    opacity: 0.7;
    padding: 2.5rem;
}

.Data--header{
    margin-top:2rem;
    margin-bottom: 1rem;
    text-align:center;
    line-height:1rem;
}

.Data--text{
    padding: 10px;
    margin-top:5px;
    margin-bottom: 5px;
    line-height: 1.5rem;
    text-align:center;
    font-size: 0.8rem;
    
}

.background__4{
    background-image: url(bg4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height:100%;
    opacity: 0.7;
}

.background__4 h1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height:3.5rem;
    padding: 0px;
    background-color: #111010;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
    border-radius: 13px 0px 13px 0px;
    outline: 0.4rem inset purple;
    outline-offset: 0.4rem;
    
}

.background__4--image{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Why{
    background-color: black;
    color:white;
    padding: 2.5rem;
    opacity:0.8;
    
    
}

.Why--header{
    /* padding:0.2rem; */
    margin-top:2rem;
    margin-bottom: 1rem;
    text-align:center;
    line-height:1rem;
}

.Why--text{
    padding: 10px;
    margin-top:5px;
    margin-bottom: 5px;
    line-height: 1.5rem;
    text-align:center;
    font-size: 0.8rem;
    /* background-color: black;
    color:white */
    
}

.background__5{
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100%;
    opacity: 0.7;
}

.background__5 h1{
    display:inline-block;
    width: 28rem;
    height:3.5rem;
    padding: 0px;
    background-color: #141414;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    /* margin:auto; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
    border-radius: 13px 0px 13px 0px;
    outline: 0.4rem inset purple;
    outline-offset: 0.4rem;
    
    
}

.background__5--image{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background__5 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: uppercase;
}


@media (max-width: 560px) {
    /* .background__1,
    .background__2,
    .background__3,
    .background__4,
    .background__5{
      background-attachment: scroll;
    } */

    .Full-Stack--header,
    .Full-Stack--text,
    .Aws--header,
    .Aws--text,
    .Data--header,
    .Data--text,
    .Why--header,
    .Why--text {
        font-size: 0.9rem;
        padding:  0.5rem;
        line-height: 1rem;
        outline-width: 0.2rem;
        outline-offset: 0.15rem;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    #img-clarusway{
        max-width: 20rem;
    }

    .background__1 h1{
        max-width: 20rem;
        font-size: 1.9rem;
        letter-spacing: 0.2rem;
        

    }
    
    .background__3 h1,
    .background__4 h1,
    .background__5 h1{
        max-width: 20rem;
        font-size:1.4rem;
        letter-spacing: 0.2rem;
        width: 20rem;
        height: 3.2rem;
        padding: 1rem;
    }

    
  }
